/* This Style reffered only for admin pannels */

/* Style the top header */
*{
	margin: 0;
	list-style: none;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	/*font-family: 'Montserrat', sans-serif;*/
}

body{
	background-color: #e1ecf2;
}

.wrapper{
	margin: 10px;
}

.wrapper .top_navbar{
	width: calc(100% - 20px);
	height: 60px;
	display: flex;
	position: fixed;
	top: 1px;
	left: 8px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  	font-size: 20px;
  	cursor: pointer;
  	background-color: #08899c;
  	color: white;
  	padding: 15px 17px;
	border-top-left-radius: 50px;
	width: 8%;
}

.openbtn:hover{
	background-color: #000000;
}

/* Style the button that is used to close the sidepanel */
.closebtn {
  color: #ffffff;
  font-size: 28px;
  background-color: #08899c;
  float: right;
  margin-bottom: 2px;
  width: 50px;
}

.closebtn:hover,
.closebtn:focus {
  color: black;
  text-decoration: none;
}

.wrapper .top_navbar .top_menu{
	width: calc(100% - 20px);
	background-color: #ffffff;
	height: 100%;
	border-top-right-radius: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#logo{
	width: 20%;
}

.wrapper .top_navbar .top_menu ul{
	display: flex;
}

.wrapper .top_navbar .top_menu ul li a{
	display: block;
	margin: 0 10px;
	width: 30px;
	height: 30px;
	line-height: 26px;
	border: 1px solid #08899c;
	text-align: center;
	border-radius: 50%;
	color: #08899c;
}

.wrapper .top_navbar .top_menu ul li a:hover{
	background-color: #4360b5;
	color: #ffffff;
}

.wrapper .sidebar{
	position: fixed;
	display: none;
	top: 60px;
	left: 10px;
	background-color: #08899c;
	width: 0px;
	height: calc(100% - 50px);
	border-bottom-left-radius: 20px;
	transition: all 0.3s ease;
}
/* start */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content ul li a{
  color: black;
  padding-left: 50px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content ul li a:hover {
	background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

.title{
	display: inline-block;
	color: white;
	padding-left: 20px;
}

.title:hover{
	background-color: green;
	color: #000000;
	width: 210px;
	text-decoration: none;
	padding-left: 20px;
}

.icon-title{
	padding-right: 15px;
}

/* end */

.wrapper .main_container{
	width: calc(100% - 10px);
	margin-top: 60px;
	margin-left: auto;
	padding: 15px;
}

.wrapper .main_container .iterm{
	background-color: #ffffff;
	margin-bottom: 10px;
	padding: 15px;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
}
